.DS_Store
.envrc
.idea
.hpc
.hsenv
.ghc.environment.*
.cabal-sandbox/
.stack-work/
.HTF/
cabal.sandbox.config
cabal.project.local
cabal.project.local~
Config/client_session_key.aes
bin
build
cabal-dev
del
dist
gen
dist
dist-*
result
node_modules
static/prod.*
tmp
Generated
*.iml
*.dyn_hi
*.dyn_o
*.hi
*.o
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

# Ignore locally checked out IHP version
IHP
